.modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid grey;

  // border-bottom: 2px solid grey;

  &__title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: var(--text-color, );

  }

  &__btn {
    background: inherit;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border: 0;
    cursor: pointer;
  }

}

.btn__wrapper {
  display: flex;
  margin-top: 10px;
  justify-content: end;

  &__btn {
    color: white;
    background: var(--primary_color);
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    padding: 16px 20px 16px 20px;
    cursor: pointer;
    border: 0;

    &:hover {
      background: var(--primary_colorHover);
    }


  }

  &__disabled {
    color: white;
    background: rgb(160, 159, 159);
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
    padding: 16px 20px 16px 20px;
    cursor: pointer;
    border: 0;
  }
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  .spinner {
    display: block;
    width: 30px;
    height: 30px;
    border: 4px solid #ffffff;
    border-radius: 50%;
    border-top-color: #006eff;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
    }
  }
}